.App {
  font-family: sans-serif;
  text-align: center;
}


.buttons button{
  background-color: rgb(241, 82, 24);
  color: white;
  border-radius: 7px;
  margin: 25px 0px;
  border: none;
  padding: 8px;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

.buttons div{
  cursor: pointer;
}

.buttons{
  display: flex;
  justify-content: center;
  gap:30px;
  align-items: center;
}


